/*----------------------------*/
/*---STYLE BODY & MAIN DIVS---*/
/*----------------------------*/

body {
    background-color: darkred;
    color: white;
}

html,
body,
.fullheight {
    height: 100%;
}

div {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.row {
    margin: 0px !important;
}

.col-sm-3 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-sm-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid {
    padding: 0px !important;
}

.bannerheight {
    height: 6%;
}

.contentheight {
    height: 94%;
    box-sizing: border-box;
}

/*-----------------*/
/*---STYLE LINKS---*/
/*-----------------*/

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: #cc9900;
}

/*-------------------------*/
/*---STYLE TEXT & TITLES---*/
/*-------------------------*/

p {
    margin: 0px;
}

h6 {
    margin-top: 15px;
}

.indent {
    text-align: center;
}

.appheading {
    text-align: center;
    font-size: 5vmin;
}

#reviews {
    font-size: 16px
}

.displayrating {
    font-size: 18px;
    font-weight: bold;
}

.displaylink {
    font-size: 18px;
}

.displaytitle {
    font-size: 20px;
    font-weight: bold;
}

#reviewtitle {
    margin-top: 10px;
}

.reviewtitle {
    font-size: 18px;
}

/*------------------*/
/*---STYLE LABELS---*/
/*------------------*/

#distancelabel,
.gap {
    margin-top: 15px;
}

#locationlabel {
    margin-bottom: 0px;
}

/*-------------------*/
/*---STYLE BUTTONS---*/
/*-------------------*/

#locations Button {
    Display: block;
    white-space: normal;
}

.btn-warning {
    background-color: #cc9900;
    color: white;
    margin-top: 15px;
}

.btn-warning2 {
    background-color: #cc9900;
    color: white;
}

/*------------------------*/
/*---STYLE MAIN CONTENT---*/
/*------------------------*/

.displayphoto {
    width: 100%;
    float: left;
}

.goldstar {
    height: 20px;
}

.goldstar2 {
    height: 14px;
}

.goldback {
    background-color: #cc9900;
    display: block;
}

/*---------------*/
/*---STYLE MAP---*/
/*---------------*/

#map {
    height: 100%;
}

.mapbox {
    min-height: 75%;
}

/*------------------------*/
/*---STYLE HELP SECTION---*/
/*------------------------*/

#helpbutton {
    height: 75%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.helpbox {
    text-align: center;
    min-height: 25px;
}

.helpimage {
    max-width: 100%;
}

/*-------------------*/
/*---GENERAL RULES---*/
/*-------------------*/

input {
    width: 100%;
}

.spacemaker {
    margin-top: 15px;
}

.heightfix {
    height: 100%;
    box-sizing: border-box;
}

.nomargin {
    margin-top: 0px !important;
}

.scrollbar {
    overflow-y: auto;
}

/*-------------------*/
/*---MEDIA QUERIES---*/
/*-------------------*/

@media all and (max-width: 575px) {
    .mapbox {
        padding-left: 15px;
        padding-right: 15px;
    }
}
